body {
  font-family: 'Lato';
  background: #eee;
}
header {
  background-color: #333;
}
h1 {
  font-weight: 100;
  font-size: 3.5em;
  text-align: center;
  color: white;
  margin: 0;
}
input {
  border-radius: 0;
  height: 40px;
  padding: 0 1em;
  font-size: 22px;
  color: #333;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #2980b9;
}
button {
  height: 40px;
  padding: 0 1em;
  font-size: 22px;
  color: white;
  text-align: center;
  background: #4aa3df;
  border: 0;
  border-bottom: 2px solid #2980b9;
  cursor: pointer;
  box-shadow: inset 0 -2px #2980b9;
}
button:active {
  top: 1px;
  outline: none;
  box-shadow: none;
}
button:disabled {
  background: #92c1e0;
  border-bottom: 2px solid #83bce2;
  box-shadow: inset 0 -2px #83bce2;
}
#logo {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
}
#message {
  display: block;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.content {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10%;
  font-weight: 300;
  font-size: 1.4em;
}
.content.texto {
  padding-bottom: 1%;
}
.content.form {
  padding-bottom: 6%;
  text-align: center;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@media (max-width: 500px) {
  button,
  input {
    display: inline;
  }
  input {
    padding: 0 .2em;
    font-size: 18px;
    width: 55%
  }
  #logo {
    width: 60%;
  }
  .content {
    padding: 0 1%;
  }
  .content.form {
    padding-bottom: 10%;
  }
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
@keyframes octocat-wave {
  0%, 100% { transform: rotate(0); }
  20%, 60% { transform: rotate(-25deg); }
  40%, 80% { transform: rotate(10deg); }
}
